name: Deploy vandan_frontend

on: 
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Login to docker hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}     
      - name: Build Docker Image
        run: docker build -t proplerer19/vandan_frontend --build-arg REACT_APP_NODE_ENV='production' --build-arg REACT_APP_SERVER_BASE_URL='${{ secrets.REACT_APP_SERVER_BASE_URL }}'  .
      - name: Publish Image to docker hub
        run: docker push proplerer19/vandan_frontend:latest 
 
  deploy:
    needs: build
    runs-on: self-hosted 
    steps:
      - name: Pull image from docker hub
        run: docker pull proplerer19/vandan_frontend:latest 
      - name: Delete old container
        run: docker rm -f vandan_frontend_app
      - name: Run Docker Container
        run: docker run -d -p 4000:80 --name vandan_frontend_app proplerer19/vandan_frontend  -e VITE_API_BASE_URL=http://44.197.21.241:6000 